.homepage{
    color: rgb(243, 210, 167);
    background-color: rgb(215, 241, 241);
    height: 75vh;
    width: 88vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.side-home-sync{
    display: flex;
    flex-direction: row;

}