.sideBar{
    position: absolute;
    width: fit-content;

}

.header
{
  background : rgba(255, 255, 255, 0);
  width : fit-content;
  height :fit-content;
  
  position : absolute ;
  z-index : 10;
}
#sidebarMenu
{
  height : 100%;
  position : fixed ;
  left : 0;
  top : 0;
  width : 250px;
  margin-top: 60px;
  background: white;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out
}

input#openSideBarMenu
{
  display: none;
  
}

.menu
{
  list-style: none;
  margin: 5px;
  padding : 5px;
}


.menu li
{
  border-bottom : 1px solid rgba(156, 150, 150, 0.1);
}

 
.link-list a
{
    padding:20px;
    color : black !important;
    display: block;
    text-decoration: none;
    font-weight : bold;
}
/* .link-list a{
  color : black !important;
} */

.sideBarIconToggle {
    border: 0.5px dotted grey;
    background: #80808066 !important;
    width: 20px;
    height: 29px;
    position: absolute;
    z-index: 20;
    top: 22px;
    left: 15px;
    cursor: pointer;
}
.spinner
{
  height: 3px;
  background : #fff;
  transition : all 0.3s;
}
.spinner.middle,
.spinner.bottom
{
  margin-top: 3px;
}
#openSideBarMenu:checked ~ .sideBarIconToggle > .spinner.middle
{
  opacity: 0;
}
#openSideBarMenu:checked ~ .sideBarIconToggle > .spinner.top
{
  transform: rotate(135deg);
  margin-top : 6px;
}
#openSideBarMenu:checked ~ .sideBarIconToggle > .spinner.bottom
{
  transform: rotate(-135deg);
  margin-bottom: -50px;
}
.sideBarIconToggle
{
  background-color: white;
}
.spinner.top
{
  background-color: black;
}
.spinner.bottom
{
  background-color: black;
}
.spinner.middle
{
  background-color: black;
}
@keyframes slide {
    100%
    {
      top : -360px;
    }
    }
@keyframes typing {
    100%
    {
      left:100%;
      margin:0 -35px 0 35px;
}
}