.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: auto;
    background-color: rgba(207, 204, 204, 0.671);
}

.foot-aboutus{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
    margin:5px 80px;
    margin-bottom: 50px;

}
.copyrightNotice{
    padding-top: 30px;
    font-weight: bold;
}